[
  // SORR_UP
  (
    type: "BB15F",
    transformations: [
      Rotation((0,-90,0)),
      Rotation((0,0,90)),
      Translation((0,8.636,-80.2386)),
      Rotation((0,0,6.03)),
      Translation((0,95.25,0)),
    ],
  ),
  // SORR_UP, Det 4
  (
    type: "BB15F",
    transformations: [
      Rotation((0,-90,0)),
      Rotation((0,0,90)),
      Translation((0,8.636,-110.2386)),
      Rotation((0,0,6.03)),
      Translation((0,95.25,0)),
    ],
  ),
  // SORR_DN
  (
    type: "BB15F",
    transformations: [
      Rotation((0,-90,0)),
      Rotation((0,0,90)),
      Translation((0,30.861,-1.3462)),
      Rotation((0,0,6.03)),
      Translation((0,95.25,0)),
    ],
  ),
  // QQQ5
  (
    type: "QQQ5F",
    transformations: [
      Rotation((0,0,90)),
      Translation((0,0,75)),
    ],
  ),
]
